[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
names = "*"
django-extensions = "*"
django-bootstrap4 = "*"
requests = "*"
aiohttp = "*"
opencv-python = "==3.4.7.28"
imutils = "*"
scikit-image = "*"
scipy = "*"
sounddevice = "*"

[requires]
python_version = "3.7"
