{% extends "base.html" %}
{% block content %}
	<div class="row" id="row1">
		<div class="col-sm" id="col-sm1">
			<div class="row">
				<div class="pic col-sm">
					<img id="pic1" src=/statics/img/{{object.0.picture}}>
				</div>
				<div class="details col-sm">
					<div class="value">  name: {{object.0.full_name}}</div>
		 			<div class="value">  age: {{object.0.age}}</div>
					<div class="value"> hobbies: {{object.0.hobbies}}</div>
					<div class="value"> what bothers me: {{object.0.disorder}}</div>
				</div>
			</div>
			<div class="row">
				<div id="c1_ic1" class="icon1 col-sm"><img src="/statics/img/noise.png" style="background-color:red"/></div>
				<div id ="c1_ic2" class="icon1 col-sm"><img src="/statics/img/crowded.png"/></div>
				<div id ="c1_ic3" class="icon1 col-sm"><img src="/statics/img/unknown.png"/></div>
				<div id ="c1_ic4" class="icon1 col-sm"><img src="/statics/img/light.png"/></div>
			</div>

		</div>

		<div class="col-sm" id="col-sm1">
			<div class="row">
				<div class="pic col-sm">
					<img id="pic1" src=/statics/img/{{object.1.picture}}>
				</div>
				<div class="details col-sm">
					<div class="value">  name: {{object.1.full_name}}</div>
		 			<div class="value">  age: {{object.1.age}}</div>
					<div class="value"> hobbies: {{object.1.hobbies}}</div>
					<div class="value"> what bothers me: {{object.1.disorder}}</div>
				</div>
			</div>
			<div class="row">
				<div id="c1_ic1" class="icon1 col-sm"><img src="/statics/img/noise.png"/></div>
				<div id ="c1_ic2" class="icon1 col-sm"><img src="/statics/img/crowded.png"/></div>
				<div id ="c1_ic3" class="icon1 col-sm"><img src="/statics/img/unknown.png"/></div>
				<div id ="c1_ic4" class="icon1 col-sm"><img src="/statics/img/light.png" style="background-color:red"/></div>
			</div>

		</div>

		<div class="col-sm" id="col-sm1">
			<div class="row">
				<div class="pic col-sm">
					<img id="pic1" src=/statics/img/{{object.2.picture}}>
				</div>
				<div class="details col-sm">
					<div class="value">  name: {{object.2.full_name}}</div>
		 			<div class="value">  age: {{object.2.age}}</div>
					<div class="value"> hobbies: {{object.2.hobbies}}</div>
					<div class="value"> what bothers me: {{object.2.disorder}}</div>
				</div>
			</div>
			<div class="row">
				<div id="c1_ic1" class="icon1 col-sm"><img src="/statics/img/noise.png"/></div>
				<div id ="c1_ic2" class="icon1 col-sm"><img src="/statics/img/crowded.png" style="background-color:red"/></div>
				<div id ="c1_ic3" class="icon1 col-sm"><img src="/statics/img/unknown.png"/></div>
				<div id ="c1_ic4" class="icon1 col-sm"><img src="/statics/img/light.png"/></div>
			</div>

		</div>


	</div>
	<div class="row" id="row1">
		<div class="col-sm" id="col-sm1">
			<div class="row">
				<div class="pic col-sm">
					<img id="pic1" src=/statics/img/{{object.3.picture}}>
				</div>
				<div class="details col-sm">
					<div class="value">  name: {{object.3.full_name}}</div>
		 			<div class="value">  age: {{object.3.age}}</div>
					<div class="value"> hobbies: {{object.3.hobbies}}</div>
					<div class="value"> what bothers me: {{object.3.disorder}}</div>
				</div>
			</div>
			<div class="row">
				<div id="c1_ic1" class="icon1 col-sm"><img src="/statics/img/noise.png"/></div>
				<div id ="c1_ic2" class="icon1 col-sm"><img src="/statics/img/crowded.png" style="background-color:red"/></div>
				<div id ="c1_ic3" class="icon1 col-sm"><img src="/statics/img/unknown.png"/></div>
				<div id ="c1_ic4" class="icon1 col-sm"><img src="/statics/img/light.png"/></div>
			</div>

		</div>

		<div class="col-sm" id="col-sm1">
			<div class="row">
				<div class="pic col-sm">
					<img id="pic1" src=/statics/img/{{object.4.picture}}>
				</div>
				<div class="details col-sm">
					<div class="value">  name: {{object.4.full_name}}</div>
		 			<div class="value">  age: {{object.4.age}}</div>
					<div class="value"> hobbies: {{object.4.hobbies}}</div>
					<div class="value"> what bothers me: {{object.4.disorder}}</div>
				</div>
			</div>
			<div class="row">
				<div id="c1_ic1" class="icon1 col-sm"><img src="/statics/img/noise.png"/></div>
				<div id ="c1_ic2" class="icon1 col-sm"><img src="/statics/img/crowded.png"/></div>
				<div id ="c1_ic3" class="icon1 col-sm"><img src="/statics/img/unknown.png"/></div>
				<div id ="c1_ic4" class="icon1 col-sm"><img src="/statics/img/light.png" style="background-color:red"/></div>
			</div>

		</div>

			<div class="col-sm" id="col-sm1">
			<div class="row">
				<div class="pic col-sm">
					<img id="pic1" src=/statics/img/{{object.5.picture}}>
				</div>
				<div class="details col-sm">
					<div class="value">  name: {{object.5.full_name}}</div>
		 			<div class="value">  age: {{object.5.age}}</div>
					<div class="value"> hobbies: {{object.5.hobbies}}</div>
					<div class="value"> what bothers me: {{object.5.disorder}}</div>
				</div>
			</div>
			<div class="row">
				<div id="c1_ic1" class="icon1 col-sm"><img src="/statics/img/noise.png" style="background-color:red"/></div>
				<div id ="c1_ic2" class="icon1 col-sm"><img src="/statics/img/crowded.png"/></div>
				<div id ="c1_ic3" class="icon1 col-sm"><img src="/statics/img/unknown.png"/></div>
				<div id ="c1_ic4" class="icon1 col-sm"><img src="/statics/img/light.png"/></div>
			</div>

		</div>

		</div>


	</div>
{% endblock %}
